/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
}

.psw-container{
    display: flex;
    width: 700px;
    height: 250px;
    align-items: center;
    border: 1px solid rgb(255, 72, 0);
    background-color: aquamarine;
    margin: auto;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}